body {
  font-family: "Nanum Brush Script", cursive;
  width: 100%;
  margin-left: 0;
  margin-top: 0;
}

.nav {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 70px;
  width: 100%;
  justify-content: center;
  background-color: gray;
  z-index: 3;
}

.nav-title {
  font-size: 40px;
  color: #b8860b;
  margin: auto 0;
}

.nav-menu {
  margin: auto 0;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #b8860b;
}

.nav-menu-size {
  font-size: 20px;
}

li {
  list-style: none;
  text-transform: uppercase;
  padding: 10px;
}

ul {
  display: flex;
}

.nav-sns {
  margin: auto 0;
  margin-top: -8px;
}

.profile {
  display: flex;
  margin-top: 90px;
  padding-bottom: 20px;
  border-bottom: black 2px solid;
  width: 100%;
  justify-content: center;
}

.profile-photoDiv {
  margin-left: 25px;
}

.profile-photoDiv-photo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.profile-comment {
  width: 500px;
  margin-left: 75px;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
}

.hahaha {
  width: 750px;
  height: 750px;
  margin: 0 auto;
  margin-bottom: 1000px;
}

.sample {
  display: block;
  height: 80%;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 20px;
}

footer {
  background-color: gray;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: white;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  font-family: "Hanna", sans-serif;
  padding: 20px 20px;
}

.quiz-board {
  width: 700px;
  height: 500px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.quiz-card {
  border-radius: 20px;
  width: 200px;
  height: 200px;
  margin: auto 0;
  text-align: center;
  display: block;
  line-height: 200px;
  font-size: 19px;
  font-weight: bold;
  background-color: skyblue;
  box-shadow: 6px 6px 6px 6px gray;
}

.answer {
  background-color: burlywood;
  animation: slide 0.2s;
}

.click {
  animation: slide2 0.2s;
}

@keyframes slide {
  from {
    transform: scale(0.2);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slide2 {
  from {
    transform: scale(0.2);
  }
  to {
    transform: scale(1);
  }
}

.game-container {
  font-family: "Hanna", sans-serif;
}

.game-title {
  padding-top: 80px;
}

.block {
  width: 28px;
  height: 28px;
  border: 1px solid black;
  float: left;
  background: grey;
  color: blue;
}

.block:hover {
  background-color: #a9a9a9;
}

#score {
  color: black;
  font-size: 20px;
}

#app {
  border: 1px solid black;
  text-align: center;
  margin: 20px auto 0 auto;
}

#set {
  padding: 30px;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.flag {
  background-color: green;
}

.ismine {
  background-color: red;
}

.zeroclicked {
  background-color: #505050;
}

.result-bg {
  background-color: black;
  opacity: 0.6;
}

.game-result {
  width: 300px;
  height: 300px;
  margin: 0 auto 0 auto;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 40px;
  z-index: 9000;
  position: fixed;
  top: 155px;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 20px;
}

p {
  padding: 80px 0;
  font-family: "Hanna", sans-serif;
}

.notice {
  display: flex;
  text-align: center;
}

.rule-div {
  display: inline-block;
  width: 100%;
  margin-top: 50px;
  position: relative;
}

.rule-button {
  cursor: pointer;
  background-color: skyblue;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  outline: none;
  font-family: "Hanna", sans-serif;
  width: 80px;
  margin: 0 auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.rule {
  text-align: left;
  position: absolute;
  display: none;
  background-color: #f1f1f1;
  min-width: 380px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-family: "Hanna", sans-serif;
  left: 50%;
  top: 48px;
  margin-left: -56px;
  line-height: 30px;
}

.rule-button:hover .rule {
  display: block;
  background-color: #ddd;
  color: black;
}

.rule-button:hover {
  background-color: #75ffca;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 50px;
}

.dropbtn {
  cursor: pointer;
  background-color: red;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  outline: none;
  font-family: "Hanna", sans-serif;
  width: 80px;
  margin: 0 auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 48px;
  left: 50%;
  margin-left: -56px;
  font-family: "Hanna", sans-serif;
}

.dropdown-content .level {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown-content .level:hover {
  background-color: #ddd;
}

.dropbtn:hover .dropdown-content {
  display: block;
}

.dropbtn:hover {
  background-color: #3e8e41;
}

#restart {
  background-color: darkblue;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  outline: none;
  font-family: "Hanna", sans-serif;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#restart:hover {
  background-color: #0a82ff;
}
